@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  /* height: 5px; */

}

::-webkit-scrollbar-thumb {
  background: #BDBDBD !important; /* Color of the scrollbar thumb */
  border-radius: 8px !important; /* Rounded corners for the thumb */

}

::-webkit-scrollbar-thumb:hover {
  background: #a57272 !important; /* Color of the thumb on hover */
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important; /* Color of the scrollbar track */
  border-radius: 8px !important; /* Rounded corners for the track */

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
